<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://www.cowin.gov.in/assets/images/largest-vaccine-banner.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>